/*‹¤’Ê*/
th {text-align:center;white-space:nowrap;font-weight:normal;background-color:silver;}
th,td {vertical-align:top;white-space:nowrap;padding:2px;}
thead {height:2.4em;}
html,body {height:100%; overflow:hidden;}
body {margin:5px; padding:0;}
table {table-layout:fixed;margin-bottom:60em;}
td {border-color:#c0c0c0;} /*FF,Opera‚ÌŒrü‘Î‰ž*/

#tree {height:99%;width:20%;overflow:scroll;float:left;white-space:nowrap;line-height:100%;}
#tree small {font-size:60%;}
#tree em {display: inline;font-style: normal;color:darkred;font-size:60%} /*•â‘«*/
#tree a {text-decoration:none;}
#tree a:link,#tree a:visited {color:blue;}
#tree a.new:link,#tree a.new:visited,td.new:first-line {color:crimson;} /*V•Ší*/
#tree a:hover {color:red;}
#tree a:active {color:black;}
#tree span,#top small span {padding:2px;color:blue;cursor:pointer;}
#t2L,#t3L,#t4L,#t5L,#t6L,#t7L,#t8L,#t9L,#t10L,#t11L,#t12L,#t13L,#t14L,#t15L,#t16L,#t17L {display:none;}
#t3L p,#t8L p {margin:0;}

#bar {height:99%;width:3px;float:left;}
#line {height:99%;width:3px;cursor:e-resize;background-color:gray;}
#data {height:99%;width:79%;overflow: scroll;}

input {font-size:60%;padding-right:2px;padding-left:2px;}
.k {color:red;} /*ƒL[‘fÞ*/
#data p {font-size:80%;color:red;margin-bottom:0;} /*„Ží•Ší*/
#data td div {font-size:60%;margin-left:0.5em;} /*‹­‰»Œ³æ*/
#data td div a {display:block;text-decoration: none;}
#data td div a:link,#data td div A:visited {color:blue;}
#data td div a:hover {color:red;}
#data td div a:active {color:black;}
b {font-size:80%;font-weight:normal;color:Navy;display:block;text-align:center;} /*GR*/
s {color:red;text-decoration:none;} /*ƒ}ƒCƒiƒX‰ïS,à–¾—“*/
#data q {color:red;font-size:73%;clear:left;display:block;quotes: "" ""} /*’HˆÙ*/
#ken {width:64.0em;}
#yumi {width:65.5em;}
#gun {width:77.0em;}

#ken #cN {width:14.00em}
#ken #cSp {width:160px}

#yumi #cN {width:15.0em}
#yumi #cTm {width:12.6em}
#yumi #cBn {width:10.5em}

#gun #cN {width:15.3em}
#gun #cKi {width:7.0em;text-align:center;}
#gun #cGn {width:24.0em}

#cR {width:4.5em}
#cAt{width:11.0em}
#cSl {width:3.0em;text-align:right;}
#cHr {width:2.5em;text-align:right;}
#cZ {width:7.8em;text-align:right;}
#cSz {width:13.8em}
#cDc {width:15.2em;}

#ken td:first-child+td+td+td+td,	/*Œ•Žm‚Ì5—ñ–ÚƒXƒƒbƒg*/
#yumi td:first-child+td+td+td+td+td,/*‹|‚Ì6—ñ–ÚƒXƒƒbƒg*/
#gun td:first-child+td+td+td,		/*ƒKƒ“‚Ì4—ñ–Ú”½“®*/
#gun td:first-child+td+td+td+td+td	/*ƒKƒ“‚Ì6—ñ–ÚƒXƒƒbƒg*/
										{text-align:center;}

#ken td:first-child+td+td+td+td+td,	/*Œ•Žm‚Ì6—ñ–ÚHR*/
#ken td:first-child+td+td+td+td+td+td,	/*Œ•Žm‚Ì7—ñ–Úƒ[ƒj[*/
#yumi td:first-child+td+td+td+td+td+td,	/*‹|‚Ì7—ñ–ÚHR*/
#yumi td:first-child+td+td+td+td+td+td+td,	/*‹|‚Ì8—ñ–Úƒ[ƒj[*/
#gun td:first-child+td+td+td+td+td+td,	/*ƒKƒ“‚Ì7—ñ–ÚHR*/
#gun td:first-child+td+td+td+td+td+td+td	/*ƒKƒ“‚Ì8—ñ–Úƒ[ƒj[*/
										{text-align:right;}
#ken td:first-child+td+td+td+td+td:first-line,	/*Œ•Žm‚Ì6—ñ–ÚHR*/
#yumi td:first-child+td+td+td+td+td+td:first-line,	/*‹|‚Ì7—ñ–ÚHR*/
#gun td:first-child+td+td+td+td+td+td:first-line	/*ƒKƒ“‚Ì7—ñ–ÚHR*/
										 {font-size:80%;} 
/*“V˜L*/
#tenrou p {margin:0;padding:0px;border-bottom:thin solid black;}
#tenrou b {display:inline;}
#tenrou .l {border-left:thin none black}

/*ƒQ[ƒW—p*/
#ken ul {margin:0;padding:1px 0;height:10px;font-size:1px;width:101px;list-style-type:none;background-color:slategray;}
#ken li {float:left;height:10px;}
#ken .r {background-color:red;}
#ken .o {background-color:orange;}
#ken .y {background-color:yellow;}
#ken .g {background-color:lime;}
#ken .b {background-color:blue;}
#ken .w {background-color:white;}
#ken .p {background-color:violet;}
#ken .s {background-color:cyan;}
#ken .s1 {width:1px}
#ken .s2 {width:2px}
#ken .s3 {width:3px}
#ken .s4 {width:4px}
#ken .s5 {width:5px}
#ken .s6 {width:6px}
#ken .s7 {width:7px}
#ken .s8 {width:8px}
#ken .s9 {width:9px}
#ken .s10 {width:10px}
#ken .s11 {width:11px}
#ken .s12 {width:12px}
#ken .s13 {width:13px}
#ken .s14 {width:14px}
#ken .s15 {width:15px}
#ken .s16 {width:16px}
#ken .s17 {width:17px}
#ken .s18 {width:18px}
#ken .s19 {width:19px}
#ken .s20 {width:20px}
#ken .s21 {width:21px}
#ken .s22 {width:22px}
#ken .s23 {width:23px}
#ken .s24 {width:24px}
#ken .s25 {width:25px}
#ken .s27 {width:27px}
#ken .s28 {width:28px}
#ken .s29 {width:29px}
#ken .s30 {width:30px}
#ken .s31 {width:31px}
#ken .s32 {width:32px}
#ken .s33 {width:33px}
#ken .s34 {width:34px}
#ken .s35 {width:35px}
#ken .s36 {width:36px}
#ken .s37 {width:37px}
#ken .s38 {width:38px}
#ken .s39 {width:39px}
#ken .s40 {width:40px}
#ken .s41 {width:41px}
#ken .s42 {width:42px}
#ken .s43 {width:43px}
#ken .s45 {width:45px}
#ken .s46 {width:46px}
#ken .s47 {width:47px}
#ken .s48 {width:48px}
#ken .s50 {width:50px}
#ken .s52 {width:52px}
#ken .s53 {width:53px}
#ken .s55 {width:55px}
#ken .s57 {width:57px}
#ken .s58 {width:58px}
#ken .s60 {width:60px}
#ken .s62 {width:62px}
#ken .s63 {width:63px}
#ken .s65 {width:65px}
#ken .s66 {width:66px}
#ken .s67 {width:67px}
#ken .s68 {width:68px}
#ken .s70 {width:70px}
#ken .s72 {width:72px}
#ken .s73 {width:73px}
#ken .s74 {width:74px}
#ken .s75 {width:75px}
#ken .s80 {width:80px}
#ken .s82 {width:82px}
#ken .s85 {width:85px}
#ken .s86 {width:86px}
#ken .s87 {width:87px}
#ken .s90 {width:90px}
#ken .s100 {width:100px}
/*ƒKƒ“*/
#gun ul {margin:0;padding:0;list-style-type:none;width:27.0em}
#gun li {float:left;margin-right:0.2em;}
u {color:red;text-decoration:none;} /*ƒ}ƒCƒiƒX’e*/
i {font-style:normal;color:blue;clear:left;display:block;} /*ƒrƒ“‘¬ŽË*/
/*“J*/
#ken .f {background-color:silver;}
#ken .fr {color:red;}
#ken .fb {color:blue;}
#ken .fw {color:white;}
#ken .fy {color:yellow;}
#ken .fg {color:lime;}
#ken .fa {color:aqua;}
#ken .fp {color:fuchsia;}
