<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
#tree {height:99%;width:20%;overflow:scroll;float:left;white-space:nowrap;line-height:100%;}
#data {height:99%;width:78%;overflow: scroll;}

html,body {height:100%;overflow:hidden;}
body {margin:5px; padding:0;}
td {white-space:normal;text-align:center;}
#buki td {text-align:left;}
span {white-space:nowrap;}
table.fue td {cursor:pointer;}
table.fue span {color:black;}
.s{background-color: silver; color: silver;}
input {font-size:80%;}
.r {color:red;}
.b {color:blue;}
.w {color:white;}
.y {color:yellow;}
.g {color:lime;}
.a {color:aqua;}
.p {color:fuchsia;}
.c {color:pink;}
.C {color:green;} /*HC*/
.B {color:blue;} /*親方*/
.D,.E,.G,.H,.I,.J {color:red;} /*剛種系*/
.K,.L,.M {color:goldenrod;} /*G級*/
.l1i {background-color:lavenderblush;}
.l3- {background-color:lightgreen;}
.l4k,l5p {background-color:lavender;}
.l4g {background-color:aqua;}
.l5- {background-color:khaki;}
.w,.y,.r,.b,.a,.g,.p,.c{background-color: silver;}
td {border-color:#c0c0c0;} /*FF,Operaの罫線対応*/
-->
</style>
<title>Sheet Music</title>
</head>
<body>
<div id=tree>
<table border=1 cellspacing=0 cellpadding=2 class=fue style="width:9em; margin-left:0.5em">
<thead><tr><th colspan=3>Notes</th><th>Effect</th></tr></thead><tbody>
<tr onClick="DamageForm.creGakufu('341')"><td class=w>♪</td><td class=b>♪</td><td class=r>♪</td><td>Atk, Stam, Wind</td></tr>
<tr onClick="DamageForm.creGakufu('321')"><td class=w>♪</td><td class=y>♪</td><td class=r>♪</td><td>Atk, Def</td></tr>
<tr onClick="DamageForm.creGakufu('351')"><td class=w>♪</td><td class=g>♪</td><td class=r>♪</td><td>Atk, Def, Health</td></tr>
<tr onClick="DamageForm.creGakufu('371')"><td class=w>♪</td><td class=a>♪</td><td class=r>♪</td><td>Atk, Hearing</td></tr>
<tr onClick="DamageForm.creGakufu('352')"><td class=w>♪</td><td class=g>♪</td><td class=y>♪</td><td>Recovery</td></tr>
<tr onClick="DamageForm.creGakufu('342')"><td class=w>♪</td><td class=b>♪</td><td class=y>♪</td><td>Gen. Resistance</td></tr>
<tr onClick="DamageForm.creGakufu('357')"><td class=w>♪</td><td class=g>♪</td><td class=a>♪</td><td>Heat Protection</td></tr>
<tr onClick="DamageForm.creGakufu('354')"><td class=w>♪</td><td class=g>♪</td><td class=b>♪</td><td>Movement</td></tr>
<tr onClick="DamageForm.creGakufu('327')"><td class=w>♪</td><td class=y>♪</td><td class=a>♪</td><td>Cold and Para</td></tr>
<tr onClick="DamageForm.creGakufu('374')"><td class=w>♪</td><td class=a>♪</td><td class=b>♪</td><td>Running, Wind</td></tr>
<tr onClick="DamageForm.creGakufu('641')"><td class=p>♪</td><td class=b>♪</td><td class=r>♪</td><td>Atk, Stam, Wind</td></tr>
<tr onClick="DamageForm.creGakufu('621')"><td class=p>♪</td><td class=y>♪</td><td class=r>♪</td><td>Atk, Def</td></tr>
<tr onClick="DamageForm.creGakufu('651')"><td class=p>♪</td><td class=g>♪</td><td class=r>♪</td><td>Atk, Def, Health</td></tr>
<tr onClick="DamageForm.creGakufu('671')"><td class=p>♪</td><td class=a>♪</td><td class=r>♪</td><td>Offense and Defense</td></tr>
<tr onClick="DamageForm.creGakufu('652')"><td class=p>♪</td><td class=g>♪</td><td class=y>♪</td><td>Recovery</td></tr>
<tr onClick="DamageForm.creGakufu('642')"><td class=p>♪</td><td class=b>♪</td><td class=y>♪</td><td>Wind Res</td></tr>
<tr onClick="DamageForm.creGakufu('654')"><td class=p>♪</td><td class=g>♪</td><td class=b>♪</td><td>Movement</td></tr>
<tr onClick="DamageForm.creGakufu('657')"><td class=p>♪</td><td class=g>♪</td><td class=a>♪</td><td>Hearing and Heat</td></tr>
<tr onClick="DamageForm.creGakufu('627')"><td class=p>♪</td><td class=y>♪</td><td class=a>♪</td><td>Cold and Para</td></tr>
<tr onClick="DamageForm.creGakufu('674')"><td class=p>♪</td><td class=a>♪</td><td class=b>♪</td><td>Stam and Sharpness</td></tr>
</tbody></table>
</div>
<div id=data>
<p><input type="button value="戻る onclick="history.back();">　　　<span class=K>Grank Weapons</span>／<span class=D>Gou|Tenrou|Weapons</span>／<span class=B>Master Seal</span>／<span class=C>HC Weapon</span>／<span class=l1i>Event</span>／<span class=l4k>Premium Kit</span>／<span class=l4g>Gacha</span>／<span class=l3->NetCafe</span>／<span class=l5->Special</span></p>
<table id=gakufu border=1 cellspacing=0 cellpadding=2 style="font-size:90%;">
<col span=4 style="width:1em;"><col style="width:11em;"><col style="width:4em;"><col style="width:11em;"><col style="width:5em;"><col style="width:7em;">
<thead><tr><th colspan=4>Sheet Music</th><th colspan=2>Effect</th><th colspan=2>Replay</th><th>Max</th></tr></thead><tbody>
</tbody></table>
<table id=buki border=1 cellspacing=0 cellpadding=2 style="font-size:90%; overflow: scroll;margin-top:2em;">
<col style="width:3em;">
<tbody></tbody></table>
</div>
<script type="text/javascript">
<!--
/*@cc_on if (@_jscript_version < 9) {_d=document;eval('var document=_d');}@*/
var DamageForm = (function (){
var I_aNAME = 0,I_aAT = 1,I_aZOKU = 2,I_aZOKUAT = 3,I_aZYOU = 4,I_aZYOUAT = 5,I_aCRI = 6,I_aRARE = 7,I_aGR = 8,I_aSLOT = 9,I_aDEF = 10,I_aHR = 11,I_aCRE = 12,I_aCLASS = 13,I_aSINKAGR = 14,I_aDOC = 15,I_aGAUGE = 16,I_aREACH = 17,I_aKYOKUSYA = 5,I_aYA = 16,I_aBIN = 17,I_aSPEED = 4,I_aSOKUSYA = 16,I_aKICK = 17,I_aRELO = 18,I_aGUN = 19;
var MST_Equip = {};
var ZOKUNAME = ["None","Fire","Water","Thunder","Dragon","Ice","Blaze","Light","Thunder Pole","Tenshou","Okiko","Black Flame","Music","Darkness","Crimson Demon","Wind","Sound"];
var IZYONAME = ["","Poison","Para","Sleep"];
var SENRITU = {
"ww":	"Movement Speed Up,10 Mins,Less Bouncing,4 mins added,Max 10Mins",
"pp":	"Movement Speed Up,10 Mins,Less Bouncing,4 mins added,Max 10Mins",
"bba":	"Clairvoyance,30 secs",
"wr":	"Attack Up [Small][1.15x]\nＧrank[1.10x],120 secs,Attack Up[1.2x]\nＧrank[1.15x],90 secs added,Max 120 secs",
"prr":	"Attack Up【Large】[1.2x]\nＧrank[1.15x],90 secs,Attack Up[1.3x]\nＧrank[1.2x],60 secs added,Max 90 secs",
"ry":	"Defense Up【Small】[1.15x]\nＧrank+120,120 secs,Defense Up[1.2x]\nＧrank+160,90 secs added,Max 120 secs",
"rgr":	"Defense Up【Large】[1.2x]\nＧrank+160,90 secs,Defense Up[1.3x]\nＧrank+240,60 secs added,Max 90 secs",
"raap":	"Defense Up【Large】[1.2x]\nＧrank+160,90 secs,Defense Up[1.3x]\nＧrank+240,60 secs added,Max 90 secs",
"wb":	"No Stamina Loss【Small】,90 secs,No Stamina Loss,60 secs added,Max 150 secs",
"pbb":	"No Stamina Loss【Large】,150 secs,No Stamina Loss,60 secs added,Max 150 secs",
"ybyw":	"Elemental Attack Up[10%UP],90 secs,-,60 secs added,Max 150 secs",
"gypy":	"Divine Protection,60 secs,-,30 secs added,Max90 secs",
"rbw":	"Health Increase【Small】[+20],180 secs,-,120 secs added,Max 180 secs",
"rra":	"Health Increase【Medium】[+30],180 secs,-,120 secs added,Max 180 secs",
"rbrp":	"Health Increase【Large】[+50],180 secs,-,120 secs added,Max 180 secs",
"pg":	"Health Rec【Small】(1/3%) or Health Rec【Tiny】(2/3%)",
"gpy":	"Health Rec【Medium】(1/3%) or Health Rec【Tiny】(2/3%)",
"ggpa":	"Health Rec【Large】(1/3%) or Health Rec【Small】(2/3%)",
"wg":	"Health Rec【Small】＆Antidote(1/3%)  or Health Rec【Tiny】＆Antidote(2/3%)",
"gbpb":	"Health Rec【Medium】＆Antidote(1/3%)  or Health Rec【Tiny】＆Antidote(2/3%)",
"gwa":	"Health Rec【Medium】＆Deoderant(1/3%)  or Health Rec【Tiny】＆Deoderant(2/3%)",
"ggy":	"Recovery Speed【Small】,120 secs,-,60 secs added,Max 180 secs",
"grgp":	"Recovery Speed【Large】,120 secs,-,60 secs added,Max 180 secs",
"bbr":	"Wind Pressure [Small],180 secs,Wind Pressure [Large],120 secs,Last played effect",
"bbg":	"Wind Pressure [Large],180 secs,Wind Pressure Invalid,120 secs,Last played effect",
"bab":	"Wind Pressure [Large],180 secs,Wind Pressure Invalid,120 secs,Last played effect",
"bbyp":	"Wind Pressure Invalid,180 secs,-,180 secs,Max 180 secs",
"aar":	"Hearing Protection【Small】,180 secs,Hearing Protection【Large】,120 secs,Last played effect",
"aagp":	"Hearing Protection【Large】,180 secs,-,120 secs,Last played effect",
"aay":	"Cold Invalid,240 secs,-,240 secs added,Max480 secs",
"aga":	"Heat Invalid,240 secs,-,240 secs added,Max480 secs",
"abp":	"Stun Immunity,180 secs,-,120 secs added,Max300 secs",
"ayy":	"Paralysis Immunity,180 secs,-,120 secs added,Max300 secs",
"I_aYA":	"Quake Res,180 secs,-,120 secs added,Max300 secs",
"yr":	"Fire Res【Small】[+10],60 secs,Fire Res[+15],60 secs,Max 60 secs",
"ybw":	"Fire Res【Large】[+15],60 secs,Fire Res[+20],60 secs,Max 60 secs",
"ybp":	"Water Res【Small】[+10],60 secs,Water Res[+15],60 secs,Max 60 secs",
"ybbw":	"Water Res【Large】[+15],60 secs,Water Res[+20],60 secs,Max 60 secs",
"yap":	"Thunder Res【Small】[+10],60 secs,Thunder Res[+15],60 secs,Max 60 secs",
"yyb":	"Thunder Res【Large】[+15],60 secs,Thunder Res[+20],60 secs,Max 60 secs",
"ywa":	"Ice Res【Small】[+10],60 secs,Ice Res[+15],60 secs,Max 60 secs",
"ygw":	"Ice Res【Small】[+10],60 secs,Ice Res[+15],60 secs,Max 60 secs",
"ypa":	"Ice Res【Large】[+15],60 secs,Ice Res[+20],60 secs,Max 60 secs",
"ygp":	"Ice Res【Large】[+15],60 secs,Ice Res[+20],60 secs,Max 60 secs",
"wy":	"Dragon Res【Small】[+10],60 secs,Dragon Res[+15],60 secs,Max 60 secs",
"pyy":	"Dragon Res【Large】[+15],60 secs,Dragon Res[+20],60 secs,Max 60 secs",
"bpyb":	"No Flinching,60 secs,-,60 secs added,Max 90 secs",
"bgbp":	"No Flinching,60 secs,-,60 secs added,Max 90 secs",
"abw":	"Sharp Sword Recovery【Small】,75 Sharpness,-,-,",
"agg":	"Sharp Sword Recovery【Small】,75 Sharpness,-,-,",
"apba":	"Sharp Sword Recovery【Large】,150 Sharpness,-,-,"};

var senritu_arasi = {
"wcg":	"Cold Invalid,240 secs,-,240 secs added,Max 480 secs",
"bwc":	"Heat Invalid,240 secs,-,240 secs added,Max 480 secs",
"ycw":	"Stun Immunity,180 secs,-,120 secs added,Max 300 secs",
"rpc":	"Paralysis Immunity,180 secs,-,120 secs added,Max 300 secs",
"ycp":	"Stun Immunity,180 secs,-,120 secs added,Max 300 secs",
"rcw":	"Quake Res,180 secs,-,120 secs added,Max300 secs",
"pcg":	"Fire Res【Small】[+10],60 secs,Fire Res[+15],60 secs,Max 60 secs",
"bpc":	"Ice Res【Small】[+10],60 secs,Ice Res[+15],60 secs,Max 60 secs",
"acw":	"Defense Up【Small】[1.15x],120 secs,Defense Up[1.2x],90 secs added,Max 120 secs",
"acp":	"Elemental Attack Up[10%UP],90 secs,-,60 secs added,Max 150 secs"};

var onpu = function (w) {
	switch (w) {
	case "1": //赤
		return "r";
	case "2": //黄
		return "y";
	case "3": //白
		return "w";
	case "4": //青
		return "b";
	case "5": //緑
		return "g";
	case "6": //紫
		return "p";
	case "7": //空
		return "a";
	}
}
var global = {
//------------------------------------初期化----------
init : function(){
}
//------------------------------------データセット----------
,setEquip : function (name,data){
if (name === "horn") MST_Equip[name]=data;
}
,setSinka : function (name,data){
}
,setSozai : function (data){
}
//------------------------------------譜面セット----------
,creGakufu : function (fumen){
var cstr = new RegExp("[" + onpu(fumen.charAt(0)) + onpu(fumen.charAt(1)) + onpu(fumen.charAt(2)) + "]","g");
var tB=document.getElementsByTagName("tbody")[1],tBCre = document.createElement("tbody");
for (var e in SENRITU) {
	if (e.replace(cstr,"") === "") {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		var o = e + "sssss";
		for (var i = 0; i < 4; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "♪";
			insTD.className = o.charAt(i);
			insTR.appendChild(insTD.cloneNode(true));
		}
		insTD.className = "";
		var s = SENRITU[e].split(",");
		for (var i = 0,m = s.length; i < m; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = s[i];
			insTR.appendChild(insTD.cloneNode(true));
		}
		if (s.length === 1) {
			insTR.lastChild.colSpan = 5;
		}
		tBCre.appendChild(insTR.cloneNode(true));
	}
}
var insHeader = document.createElement("th");
insHeader.colSpan = 4;
insHeader./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "Storm Style";
tBCre.appendChild(insHeader.cloneNode(true));
//桜
for (var e in senritu_arasi) {
	if (e.replace(cstr,"") === "c") {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		var o = e + "sssss";
		for (var i = 0; i < 4; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "♪";
			insTD.className = o.charAt(i);
			insTR.appendChild(insTD.cloneNode(true));
		}
		insTD.className = "";
		var s = senritu_arasi[e].split(",");
		for (var i = 0,m = s.length; i < m; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = s[i];
			insTR.appendChild(insTD.cloneNode(true));
		}
		if (s.length === 1) {
			insTR.lastChild.colSpan = 5;
		}
		tBCre.appendChild(insTR.cloneNode(true));
	}
}
tB.parentNode.replaceChild( tBCre,tB );

//武器一覧
var lt_zoku = ["","","","","","","","","","","","","","",""];
var lt_izyo = ["","","","","","","","","","","","","","",""];
var tB=document.getElementsByTagName("tbody")[2],tBCre = document.createElement("tbody");
for (var i in MST_Equip.horn) {
	var eq = MST_Equip.horn[i].split(",");
	if (eq[I_aREACH] === fumen &&
	   (eq[I_aNAME].lastIndexOf("SP") < 0 ||
	    eq[I_aNAME].lastIndexOf("Ⅶ") > 0)) {
		if (!eq[I_aZOKUAT] && !eq[I_aZYOUAT]){
			lt_zoku[0] += "／<span class=" + (eq[I_aCLASS] || "l"+eq[I_aCRE]) + ">" + eq[I_aNAME]+"</span>";
		} else {
			if (eq[I_aZOKUAT]) lt_zoku[eq[I_aZOKU]] += "／<span class=\"" + eq[I_aCLASS] + " l"+eq[I_aCRE] + "\">" + eq[I_aNAME] + "</span>";
			if (eq[I_aZYOUAT]) lt_izyo[eq[I_aZYOU]] += "／<span class=\"" + eq[I_aCLASS] + " l"+eq[I_aCRE] + "\">" + eq[I_aNAME] + "</span>";
		}
	}
}
for (var i=0; i<=10; i++) {
	if (lt_zoku[i]) {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = ZOKUNAME[i];
		insTR.appendChild(insTD.cloneNode(true));

		insTD.innerHTML = lt_zoku[i].substring(1)
		insTR.appendChild(insTD.cloneNode(true));

		tBCre.appendChild(insTR.cloneNode(true));
	}
}
for (var i=1; i<=3; i++) {
	if (lt_izyo[i]) {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = IZYONAME[i];
		insTR.appendChild(insTD.cloneNode(true));

		insTD.innerHTML = lt_izyo[i].substring(1)
		insTR.appendChild(insTD.cloneNode(true));

		tBCre.appendChild(insTR.cloneNode(true));
	}
}
tB.parentNode.replaceChild( tBCre,tB );

}
}//グローバル
return global;
})();

(function(){
//------------------------------------イベント貼り付け----------
//イベントセット
var addEvent = function (elm, type, func) {
	//追加
	elm./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/ type,func,false);
	//アンロードで削除
	window./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/ "unload",
		function(){
			elm./*@cc_on @if (true) detachEvent ('on' + @else@*/ removeEventListener (/*@end@*/ type,func,false);
		}
		,false);
};
addEvent(window,"load",
function () {
	if (location.search.length) DamageForm.creGakufu(location.search.substring(1,4));
});
})();
-->
</script>
<script type="text/javascript" src="equip.js"></script>
</body>
</html>
