<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=shift_JIS">
<style type="text/css">
<!--
#tree {height:99%;width:20%;overflow:scroll;float:left;white-space:nowrap;line-height:100%;}
#data {height:99%;width:78%;overflow: scroll;}

html,body {height:100%;overflow:hidden;}
body {margin:5px; padding:0;}
td {white-space:normal;text-align:center;}
#buki td {text-align:left;}
span {white-space:nowrap;}
table.fue td {cursor:pointer;}
table.fue span {color:black;}
.s{background-color: silver; color: silver;}
input {font-size:80%;}
.r {color:red;}
.b {color:blue;}
.w {color:white;}
.y {color:yellow;}
.g {color:lime;}
.a {color:aqua;}
.p {color:fuchsia;}
.c {color:pink;}
.C {color:green;} /*HC*/
.B {color:blue;} /*?e??*/
.D,.E,.G,.H,.I,.J {color:red;} /*????n*/
.K,.L,.M {color:goldenrod;} /*G??*/
.l1i {background-color:lavenderblush;}
.l3- {background-color:lightgreen;}
.l4k,l5p {background-color:lavender;}
.l4g {background-color:aqua;}
.l5- {background-color:khaki;}
.w,.y,.r,.b,.a,.g,.p,.c{background-color: silver;}
td {border-color:#c0c0c0;} /*FF,Opera??r?????*/
-->
</style>
<title>?y??</title>
</head>
<body>
<div id="tree">
<table border="1" cellspacing="0" cellpadding="2" class="fue" style="width:9em; margin-left:0.5em">
<thead><tr><th colspan="3">????</th><th>????</th></tr></thead><tbody>
<tr onclick="DamageForm.creGakufu('341')"><td class="w">??</td><td class="b">??</td><td class="r">??</td><td>?U????</td></tr>
<tr onclick="DamageForm.creGakufu('321')"><td class="w">??</td><td class="y">??</td><td class="r">??</td><td>?U?h??</td></tr>
<tr onclick="DamageForm.creGakufu('351')"><td class="w">??</td><td class="g">??</td><td class="r">??</td><td>?U?h??</td></tr>
<tr onclick="DamageForm.creGakufu('371')"><td class="w">??</td><td class="a">??</td><td class="r">??</td><td>?U??</td></tr>
<tr onclick="DamageForm.creGakufu('352')"><td class="w">??</td><td class="g">??</td><td class="y">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('342')"><td class="w">??</td><td class="b">??</td><td class="y">??</td><td>??????</td></tr>
<tr onclick="DamageForm.creGakufu('357')"><td class="w">??</td><td class="g">??</td><td class="a">??</td><td>??</td></tr>
<tr onclick="DamageForm.creGakufu('354')"><td class="w">??</td><td class="g">??</td><td class="b">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('327')"><td class="w">??</td><td class="y">??</td><td class="a">??</td><td>???k??</td></tr>
<tr onclick="DamageForm.creGakufu('374')"><td class="w">??</td><td class="a">??</td><td class="b">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('641')"><td class="p">??</td><td class="b">??</td><td class="r">??</td><td>?U????</td></tr>
<tr onclick="DamageForm.creGakufu('621')"><td class="p">??</td><td class="y">??</td><td class="r">??</td><td>?U?h??</td></tr>
<tr onclick="DamageForm.creGakufu('651')"><td class="p">??</td><td class="g">??</td><td class="r">??</td><td>?U?h??</td></tr>
<tr onclick="DamageForm.creGakufu('671')"><td class="p">??</td><td class="a">??</td><td class="r">??</td><td>?U?h??</td></tr>
<tr onclick="DamageForm.creGakufu('652')"><td class="p">??</td><td class="g">??</td><td class="y">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('642')"><td class="p">??</td><td class="b">??</td><td class="y">??</td><td>??????</td></tr>
<tr onclick="DamageForm.creGakufu('654')"><td class="p">??</td><td class="g">??</td><td class="b">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('657')"><td class="p">??</td><td class="g">??</td><td class="a">??</td><td>????</td></tr>
<tr onclick="DamageForm.creGakufu('627')"><td class="p">??</td><td class="y">??</td><td class="a">??</td><td>???k??</td></tr>
<tr onclick="DamageForm.creGakufu('674')"><td class="p">??</td><td class="a">??</td><td class="b">??</td><td>?????a</td></tr>
</tbody></table>
</div>
<div id="data">
<p><input type="button" value="???" onclick="history.back();">?@?@?@<span class="K">G??????</span>?^<span class="D">??|?V|?e????</span>?^<span class="B">?e????</span>?^<span class="C">HC????</span>?^<span class="l1i">?C?x???g</span>?^<span class="l4k">?L?b?g?E?p?b?P</span>?^<span class="l4g">?K?`??</span>?^<span class="l3-">?J?t?F</span>?^<span class="l5-">???T</span></p>
<table id="gakufu" border="1" cellspacing="0" cellpadding="2" style="font-size:90%;">
<col span="4" style="width:1em;"><col style="width:11em;"><col style="width:4em;"><col style="width:11em;"><col style="width:5em;"><col style="width:7em;">
<thead><tr><th colspan="4">?y??</th><th colspan="2">????</th><th colspan="2">?d??|??</th><th>???</th></tr></thead><tbody>
</tbody></table>
<table id="buki" border="1" cellspacing="0" cellpadding="2" style="font-size:90%; overflow: scroll;margin-top:2em;">
<col style="width:3em;">
<tbody></tbody></table>
</div>
<script type="text/javascript">
<!--
/*@cc_on if (@_jscript_version < 9) {_d=document;eval('var document=_d');}@*/
var DamageForm = (function (){
var I_aNAME = 0,I_aAT = 1,I_aZOKU = 2,I_aZOKUAT = 3,I_aZYOU = 4,I_aZYOUAT = 5,I_aCRI = 6,I_aRARE = 7,I_aGR = 8,I_aSLOT = 9,I_aDEF = 10,I_aHR = 11,I_aCRE = 12,I_aCLASS = 13,I_aSINKAGR = 14,I_aDOC = 15,I_aGAUGE = 16,I_aREACH = 17,I_aKYOKUSYA = 5,I_aYA = 16,I_aBIN = 17,I_aSPEED = 4,I_aSOKUSYA = 16,I_aKICK = 17,I_aRELO = 18,I_aGUN = 19;
var MST_Equip = {};
var ZOKUNAME = ["??","??","??","??","??","?X","??","??","????","?V??","???","????","?t","??","?g??","??","??"];
var IZYONAME = ["","??","???","????"];
var SENRITU = {
"ww":	"???????????x????,10??,?U???e??????,4?????Z,???10????",
"pp":	"???????????x????,10??,?U???e??????,4?????Z,???10????",
"bba":	"?痢??,30?b",
"wr":	"?U????????y???z[1.15?{]\n?f??[1.10?{],120?b,?????U???????[1.2?{]\n?f??[1.15?{],90?b???Z,???120?b??",
"prr":	"?U????????y??z[1.2?{]\n?f??[1.15?{],90?b,?????U???????[1.3?{]\n?f??[1.2?{],60?b???Z,???90?b??",
"ry":	"?h???????y???z[1.15?{]\n?f??+120,120?b,?????h??????[1.2?{]\n?f??+160,90?b???Z,???120?b??",
"rgr":	"?h???????y??z[1.2?{]\n?f??+160,90?b,?????h??????[1.3?{]\n?f??+240,60?b???Z,???90?b??",
"raap":	"?h???????y??z[1.2?{]\n?f??+160,90?b,?????h??????[1.3?{]\n?f??+240,60?b???Z,???90?b??",
"wb":	"?X?^?~?i?????????y???z,90?b,?X?^?~?i????????,60?b???Z,???150?b??",
"pbb":	"?X?^?~?i?????????y??z,150?b,?X?^?~?i????????,60?b???Z,???150?b??",
"ybyw":	"?????U??????[10%UP],90?b,-,60?b???Z,???150?b??",
"gypy":	"???_????,60?b,-,30?b???Z,???90?b??",
"rbw":	"???????y???z[+20],180?b,-,120?b???Z,???180?b??",
"rra":	"???????y???z[+30],180?b,-,120?b???Z,???180?b??",
"rbrp":	"???????y??z[+50],180?b,-,120?b???Z,???180?b??",
"pg":	"?????y???z(1/3%) or ?????y???z(2/3%)",
"gpy":	"?????y???z(1/3%) or ?????y???z(2/3%)",
"ggpa":	"?????y??z(1/3%) or ?????y???z(2/3%)",
"wg":	"?????y???z?????(1/3%)  or ?????y???z?????(2/3%)",
"gbpb":	"?????y???z?????(1/3%)  or ?????y???z?????(2/3%)",
"gwa":	"?????y???z?????L(1/3%)  or ?????y???z?????L(2/3%)",
"ggy":	"?????x?y???z,120?b,-,60?b???Z,???180?b??",
"grgp":	"?????x?y??z,120?b,-,60?b???Z,???180?b??",
"bbr":	"??????y??\n(?????y???z????),180?b,????????\n(?????y??z????),120?b,???????",
"bbg":	"????????\n(?????y??z????),180?b,????????S????\n(??????????),120?b,???????",
"bab":	"????????\n(?????y??z????),180?b,????????S????\n(??????????),120?b,???????",
"bbyp":	"????????S????\n(??????????),180?b,-,180?b,???180?b??",
"aar":	"???o???y???z,180?b,???o???y??z,120?b,???????",
"aagp":	"???o???y??z,180?b,-,120?b,???????",
"aay":	"????????,240?b,-,240?b???Z,???480?b??",
"aga":	"????????,240?b,-,240?b???Z,???480?b??",
"abp":	"?C?△??,180?b,-,120?b???Z,???300?b??",
"ayy":	"??????,180?b,-,120?b???Z,???300?b??",
"I_aYA":	"??k,180?b,-,120?b???Z,???300?b??",
"yr":	"?Α???????y???z[+10],60?b,?????Α??????[+15],60?b,???60?b??",
"ybw":	"?Α???????y??z[+15],60?b,?????Α??????[+20],60?b,???60?b??",
"ybp":	"??????????y???z[+10],60?b,?????????????[+15],60?b,???60?b??",
"ybbw":	"??????????y??z[+15],60?b,?????????????[+20],60?b,???60?b??",
"yap":	"??????????y???z[+10],60?b,?????????????[+15],60?b,???60?b??",
"yyb":	"??????????y??z[+15],60?b,?????????????[+20],60?b,???60?b??",
"ywa":	"?X????????y???z[+10],60?b,?????X???????[+15],60?b,???60?b??",
"ygw":	"?X????????y???z[+10],60?b,?????X???????[+15],60?b,???60?b??",
"ypa":	"?X????????y??z[+15],60?b,?????X???????[+20],60?b,???60?b??",
"ygp":	"?X????????y??z[+15],60?b,?????X???????[+20],60?b,???60?b??",
"wy":	"??????????y???z[+10],60?b,?????????????[+15],60?b,???60?b??",
"pyy":	"??????????y??z[+15],60?b,?????????????[+20],60?b,???60?b??",
"bpyb":	"???????,60?b,-,60?b???Z,???90?b??",
"bgbp":	"???????,60?b,-,60?b???Z,???90?b??",
"abw":	"?a?????y???z,75??,-,-,",
"agg":	"?a?????y???z,75??,-,-,",
"apba":	"?a?????y??z,150??,-,-,"};

var senritu_arasi = {
"wcg":	"????????,240?b,-,240?b???Z,???480?b??",
"bwc":	"????????,240?b,-,240?b???Z,???480?b??",
"ycw":	"?C?△??,180?b,-,120?b???Z,???300?b??",
"rpc":	"??????,180?b,-,120?b???Z,???300?b??",
"ycp":	"?C?△??,180?b,-,120?b???Z,???300?b??",
"rcw":	"??k,180?b,-,120?b???Z,???300?b??",
"pcg":	"?Α???????y???z[+10],60?b,?????Α??????[+15],60?b,???60?b??",
"bpc":	"?X????????y???z[+10],60?b,?????X???????[+15],60?b,???60?b??",
"acw":	"?h???????y???z[1.15?{],120?b,?????h??????[1.2?{],90?b???Z,???120?b??",
"acp":	"?????U??????[10%UP],90?b,-,60?b???Z,???150?b??"};

var onpu = function (w) {
	switch (w) {
	case "1": //??
		return "r";
	case "2": //??
		return "y";
	case "3": //??
		return "w";
	case "4": //??
		return "b";
	case "5": //??
		return "g";
	case "6": //??
		return "p";
	case "7": //??
		return "a";
	}
}
var global = {
//------------------------------------??????----------
init : function(){
}
//------------------------------------?f?[?^?Z?b?g----------
,setEquip : function (name,data){
if (name === "horn") MST_Equip[name]=data;
}
,setSinka : function (name,data){
}
,setSozai : function (data){
}
//------------------------------------????Z?b?g----------
,creGakufu : function (fumen){
var cstr = new RegExp("[" + onpu(fumen.charAt(0)) + onpu(fumen.charAt(1)) + onpu(fumen.charAt(2)) + "]","g");
var tB=document.getElementsByTagName("tbody")[1],tBCre = document.createElement("tbody");
for (var e in SENRITU) {
	if (e.replace(cstr,"") === "") {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		var o = e + "sssss";
		for (var i = 0; i < 4; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "??";
			insTD.className = o.charAt(i);
			insTR.appendChild(insTD.cloneNode(true));
		}
		insTD.className = "";
		var s = SENRITU[e].split(",");
		for (var i = 0,m = s.length; i < m; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = s[i];
			insTR.appendChild(insTD.cloneNode(true));
		}
		if (s.length === 1) {
			insTR.lastChild.colSpan = 5;
		}
		tBCre.appendChild(insTR.cloneNode(true));
	}
}
var insHeader = document.createElement("th");
insHeader.colSpan = 4;
insHeader./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "????^";
tBCre.appendChild(insHeader.cloneNode(true));
//??
for (var e in senritu_arasi) {
	if (e.replace(cstr,"") === "c") {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		var o = e + "sssss";
		for (var i = 0; i < 4; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = "??";
			insTD.className = o.charAt(i);
			insTR.appendChild(insTD.cloneNode(true));
		}
		insTD.className = "";
		var s = senritu_arasi[e].split(",");
		for (var i = 0,m = s.length; i < m; i++) {
			insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = s[i];
			insTR.appendChild(insTD.cloneNode(true));
		}
		if (s.length === 1) {
			insTR.lastChild.colSpan = 5;
		}
		tBCre.appendChild(insTR.cloneNode(true));
	}
}
tB.parentNode.replaceChild( tBCre,tB );

//?????
var lt_zoku = ["","","","","","","","","","","","","","",""];
var lt_izyo = ["","","","","","","","","","","","","","",""];
var tB=document.getElementsByTagName("tbody")[2],tBCre = document.createElement("tbody");
for (var i in MST_Equip.horn) {
	var eq = MST_Equip.horn[i].split(",");
	if (eq[I_aREACH] === fumen &&
	   (eq[I_aNAME].lastIndexOf("SP") < 0 ||
	    eq[I_aNAME].lastIndexOf("?Z") > 0)) {
		if (!eq[I_aZOKUAT] && !eq[I_aZYOUAT]){
			lt_zoku[0] += "?^<span class=" + (eq[I_aCLASS] || "l"+eq[I_aCRE]) + ">" + eq[I_aNAME]+"</span>";
		} else {
			if (eq[I_aZOKUAT]) lt_zoku[eq[I_aZOKU]] += "?^<span class=\"" + eq[I_aCLASS] + " l"+eq[I_aCRE] + "\">" + eq[I_aNAME] + "</span>";
			if (eq[I_aZYOUAT]) lt_izyo[eq[I_aZYOU]] += "?^<span class=\"" + eq[I_aCLASS] + " l"+eq[I_aCRE] + "\">" + eq[I_aNAME] + "</span>";
		}
	}
}
for (var i=0; i<=10; i++) {
	if (lt_zoku[i]) {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = ZOKUNAME[i];
		insTR.appendChild(insTD.cloneNode(true));

		insTD.innerHTML = lt_zoku[i].substring(1)
		insTR.appendChild(insTD.cloneNode(true));

		tBCre.appendChild(insTR.cloneNode(true));
	}
}
for (var i=1; i<=3; i++) {
	if (lt_izyo[i]) {
		var insTR = document.createElement("tr"),insTD = document.createElement("td");
		insTD./*@if (@_jscript_version < 9) innerText @else@*/ textContent /*@end@*/ = IZYONAME[i];
		insTR.appendChild(insTD.cloneNode(true));

		insTD.innerHTML = lt_izyo[i].substring(1)
		insTR.appendChild(insTD.cloneNode(true));

		tBCre.appendChild(insTR.cloneNode(true));
	}
}
tB.parentNode.replaceChild( tBCre,tB );

}
}//?O???[?o??
return global;
})();

(function(){
//------------------------------------?C?x???g?\??t??----------
//?C?x???g?Z?b?g
var addEvent = function (elm, type, func) {
	//???
	elm./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/ type,func,false);
	//?A?????[?h???
	window./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/ "unload",
		function(){
			elm./*@cc_on @if (true) detachEvent ('on' + @else@*/ removeEventListener (/*@end@*/ type,func,false);
		}
		,false);
};
addEvent(window,"load",
function () {
	if (location.search.length) DamageForm.creGakufu(location.search.substring(1,4));
});
})();
-->
</script>
<script type="text/javascript" src="equip.js"></script>
</body>
</html>
