<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>Bait/Method of attack</title>
<style type="text/css">
<!--
th {white-space:nowrap;font-weight:normal;background-color:gray;}
td.no {background-color:silver;width:3em}
td.esa {width:8em}
td.fue {width:3em;background-color:silver}
table.top td {color:blue;cursor:pointer;}
-->
</style>
<script type="text/javascript">
<!--
document./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/
	'click',
	function (evt) {
		/*@if (true)
		var t = evt.srcElement;
		@else@*/
		var t = evt.target;
		/*@end@*/
		if (!t.id) return;
		if (t.id.charAt(4) != "c") return;

		var trs = document.getElementsByTagName("table");
		for(var i=2; i<trs.length; i++){
			trs[i].style.display = trs[i].id  == t.id.substring(0,4) ? "":"none";
		}
	},
	false
	);
-->
</script>
</head>
<body>
<table border=1 cellspacing=0 cellpadding=2 class=top><tr>
<td id="m027c">Velocidrome</td>
<td id="m028c">Gendrome</td>
<td id="m031c">Iodrome</td>
<td id="m068c">Bulldrome</td>
<td id="m006c">Yian Kut-Ku</td>
<td id="m038c">Blue Yian Kut-Ku</td>
</tr><tr><td id="m020c">Gypceros</td>
<td id="m039c">Purple Gypceros</td>
<td id="m001c">Rathian</td>
<td id="m037c">Pink Rathian</td>
<td id="m011c">Rathalos</td>
<td id="m049c">Azure Rathalos</td>
</tr><tr><td id="m015c">Khezu</td>
<td id="m045c">Red Khezu</td>
<td id="m014c">Diablos</td>
<td id="m043c">Black Diablos</td>
<td id="m017c">Gravios</td>
<td id="m047c">Black Gravios</td>
</tr><tr><td id="m053c">Rajang</td>
<td id="m048c">Daimyo Hermitaur</td>
<td id="m067c">Shogun Ceanataur</td>
<td id="m052c">Congalala</td>
<td id="m051c">Blangonga</td>
<td id="m040c">Yian Garuga</td>
</tr></table>
<table border=1 cellspacing=0 cellpadding=2 class=all>
<tr><td class=no>Common</td><td class=esa>City Remnants</td><td>HP-10%Def-10%</td></tr>
<tr><td class=no>Common</td><td class=esa>Dragon Food</td><td>HP-10%Def-3%</td></tr>
<tr><td class=no>Common</td><td class=esa>Giant Farm Food</td><td>1～10% Increase in size (not more than the maximum size)</td></tr>
<tr><td class=no>Common</td><td class=esa>Strong Dragon Food</td><td>Increase in fighting skill LV1</td></tr>
<tr><td class=no>Common</td><td class=esa>EX Dragon Food</td><td>Friendship level 1 up</td></tr>
<tr><td class=no>Common</td><td class=esa>Red Dragon Food</td><td>Paralysis nullification attack +10%.</td></tr>
<tr><td class=no>Common</td><td class=esa>Blue Dragon Food</td><td>Sleep nullification Attack +10</td></tr>
<tr><td class=no>Common</td><td class=esa>Green Dragon Food</td><td>Poison nullification attack +10%.</td></tr>
<tr><td class=no>Common</td><td class=esa>Qual Food</td><td>Randomly changing effects<br>(1-10% size reduction/HP+15%Atk+25%/Increase in fighting skill LV1)</td></tr>
</table>
<table id="m006" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Yian Kut-Ku</th></tr>
<tr><td colspan=2>Pet probability</td><td>26/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Worm</td><td>HP+5%Atk+5%</td><td class=fue>Shot Flute</td><td>Flame Shot</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Cricket</td><td>HP+5%Atk+10%</td><td class=fue>Assault Flute</td><td>continuous pawing</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Rice Weevil</td><td>HP+15%Atk+10%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Honey Dragonfly</td><td>HP+15%Atk+20%</td><td class=fue>Deadly Flute</td><td>Surprise Attack</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Rare Scarab</td><td>HP+25%Atk+25%Def+10%</td><td class=fue>Special Flute</td><td>Continuous Flame Atk</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Surprise Attack→Tail Swipe→continuous pawing</td></tr>
</table><table id="m020" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Gypceros</th></tr>
<tr><td colspan=2>Pet probability</td><td>26/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Toadstool</td><td>Atk+5%</td><td class=fue>Shot Flute</td><td>Venom</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Spice Worm</td><td>HP+5%Atk+5%</td><td class=fue>Assault Flute</td><td>continuous pawing</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Angry Poison Mouth</td><td>HP+10%Atk+10%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Killer Beetle</td><td>HP+15%Atk+10%</td><td class=fue>Deadly Flute</td><td>Flash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Lightcrystal</td><td>HP+25%Atk+20%Def+8%</td><td class=fue>Special Flute</td><td>Play Dead</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Flash→continuous pawing→Flash→Venom</td></tr>
</table><table id="m011" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Rathalos</th></tr>
<tr><td colspan=2>Pet probability</td><td>5/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Aerial Triple Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Airborne Leg Atk</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Back Jump Breath</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Fierce Dash→Back Jump Breath→Aerial Breath</td></tr>
</table><table id="m001" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Rathian</th></tr>
<tr><td colspan=2>Pet probability</td><td>19/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Triple breath on the ground</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Continuous Fierce Dash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Somersault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Continuous Fierce Dash→Continuous Somersault</td></tr>
</table><table id="m015" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Khezu</th></tr>
<tr><td colspan=2>Pet probability</td><td>16/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Lightning Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Body Bolt Atk</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Neck Stretch</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Lightning Breath→Body Bolt Atk</td></tr>
</table><table id="m017" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Gravios</th></tr>
<tr><td colspan=2>Pet probability</td><td>10/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Sunstone</td><td>Def-3%</td><td class=fue>Shot Flute</td><td>Heat Ray</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Earth Crystal</td><td>Atk+5%Def-3%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Firestone</td><td>HP+5%Atk+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Carbalite Ore</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Deadly Flute</td><td>Flame Gas</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Union Ore</td><td>HP+10%Atk+10%</td><td class=fue>Special Flute</td><td>Body Check</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Sweeping Heat Ray→Fierce Dash→Flame Gas</td></tr>
</table><table id="m052" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Congalala</th></tr>
<tr><td colspan=2>Pet probability</td><td>22/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Toadstool</td><td>Posion Breath+HP+5%</td><td class=fue>Shot Flute</td><td>Fart</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Parashroom</td><td>Para Breath+HP+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Sleep Herb</td><td>Sleep Breath+HP+5%</td><td class=fue>Tail Flute</td><td>Body Brace</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Exciteshroom</td><td>HP+10%Atk+10%</td><td class=fue>Deadly Flute</td><td>Various Breath</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Demon Mushroom</td><td>Poison Breath+HP+15%Atk+10%</td><td class=fue>Special Flute</td><td>Continuous Tail Swipe</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Voice→Fierce Dash→Continuous Tail Swipe</td></tr>
</table><table id="m051" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Blangonga</th></tr>
<tr><td colspan=2>Pet probability</td><td>13/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Ice Crystal</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Cold Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Popo Tongue</td><td>HP+5%Atk+5%</td><td class=fue>Assault Flute</td><td>Lunging Bite</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Cold Meat</td><td>HP+10%Atk+5%</td><td class=fue>Tail Flute</td><td>Backstep</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Cold Meat G</td><td>HP+5%Atk+10%Def+5%</td><td class=fue>Deadly Flute</td><td>Left and Right Slap</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Amber Ice Crystal</td><td>HP+10%Atk+15%Def+10%</td><td class=fue>Special Flute</td><td>Snowball</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Backstep→Left and Right Slap→Frozen Breath</td></tr>
</table><table id="m014" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Diablos</th></tr>
<tr><td colspan=2>Pet probability</td><td>10/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Cactus Flower</td><td>Def-3%</td><td class=fue>Shot Flute</td><td>Horn Thrust</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Sliced Cactus</td><td>Atk+5%Def-3%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Maengwoo Butter</td><td>HP+5%Atk+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Dosbiscus</td><td>HP+5%Atk+10%Def+5%</td><td class=fue>Deadly Flute</td><td>Binding Roar</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Ale Nuts</td><td>HP+10%Atk+10%</td><td class=fue>Special Flute</td><td>Underground Assault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Horn Thrust→Tail Swipe→Fierce Dash</td></tr>
</table><table id="m048" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Daimyo Hermitaur</th></tr>
<tr><td colspan=2>Pet probability</td><td>22/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Sushifish</td><td>HP+5%</td><td class=fue>Shot Flute</td><td>Foam Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Knife Mackerel</td><td>Atk+10%</td><td class=fue>Assault Flute</td><td>Double Claw Atk</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Lg Knife Mackarel</td><td>Atk+15%</td><td class=fue>Tail Flute</td><td>Body Press</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Well Done Fish Dos</td><td>Atk+5%Def+10%</td><td class=fue>Deadly Flute</td><td>Underground Assault</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Speartuna</td><td>Atk+15%Def+10%</td><td class=fue>Special Flute</td><td>Special Guard</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Left and Right Claw Atk→Underground Assault→Shell Rush</td></tr>
</table><table id="m067" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Shogun Ceanataur</th></tr>
<tr><td colspan=2>Pet probability</td><td>13/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Sushifish</td><td>HP+5%</td><td class=fue>Shot Flute</td><td>Left and Right Claw Atk</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Knife Mackerel</td><td>Atk+10%</td><td class=fue>Assault Flute</td><td>Swinging Claw Atk</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Lg Knife Mackarel</td><td>Atk+15%</td><td class=fue>Tail Flute</td><td>Rotating Claw Atk</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Well Done Fish Dos</td><td>Atk+5%Def+10%</td><td class=fue>Deadly Flute</td><td>Continuous Underground Assault</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Speartuna</td><td>Atk+15%Def+10%</td><td class=fue>Special Flute</td><td>movement attack</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Swinging Claw Atk→Left and Right Claw Atk→Left and Right Claw Atk→Continuous Atk</td></tr>
</table><table id="m053" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Rajang</th></tr>
<tr><td colspan=2>Pet probability</td><td>1/32 "Beast Master" title required</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Small Goldenfish</td><td>Def-3%</td><td class=fue>Shot Flute</td><td>Boxing Atk</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Silverfish</td><td>Atk+5%Def-3%</td><td class=fue>Assault Flute</td><td>Dash Atk</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Silver Egg</td><td>HP+5%Atk+5%</td><td class=fue>Tail Flute</td><td>Spinning Atk</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Gold Egg</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Deadly Flute</td><td>Beam</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Kirin Azure Horn</td><td>HP+20%Atk+10%</td><td class=fue>Special Flute</td><td>Jump Bullet Atk</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Beam→Spinning Atk→Dash Atk→Boxing Atk</td></tr>
</table><table id="m040" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Yian Garuga</th></tr>
<tr><td colspan=2>Pet probability</td><td>16/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Triple breath on the ground</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Running Breath→Bite</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Binding Roar</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Somersault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Breath→Bite→Ground Breath→Somersault</td></tr>
</table><table id="m027" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Velocidrome</th></tr>
<tr><td colspan=2>Pet probability</td><td>29/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Burnt Meat</td><td>HP+10%</td><td class=fue>Shot Flute</td><td>Bite</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Raw Meat</td><td>HP+10%Atk+10%</td><td class=fue>Assault Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Rare Steak</td><td>HP+15%Def+8%</td><td class=fue>Tail Flute</td><td>Bite</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Well-Done Steak</td><td>HP+20%Atk+20%</td><td class=fue>Deadly Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Gourmet Steak</td><td>HP+25%Atk+25%</td><td class=fue>Special Flute</td><td>Backstep</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Pounce→Bite→Pounce→Backstep</td></tr>
</table><table id="m028" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Gendrome</th></tr>
<tr><td colspan=2>Pet probability</td><td>29/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Burnt Meat</td><td>HP+10%</td><td class=fue>Shot Flute</td><td>Bite</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Raw Meat</td><td>HP+10%Atk+10%</td><td class=fue>Assault Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Rare Steak</td><td>HP+15%Def+8%</td><td class=fue>Tail Flute</td><td>Bite</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Well-Done Steak</td><td>HP+20%Atk+20%</td><td class=fue>Deadly Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Gourmet Steak</td><td>HP+25%Atk+25%</td><td class=fue>Special Flute</td><td>Backstep</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Pounce→Bite→Pounce→Backstep</td></tr>
</table><table id="m031" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Iodrome</th></tr>
<tr><td colspan=2>Pet probability</td><td>29/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Burnt Meat</td><td>HP+10%</td><td class=fue>Shot Flute</td><td>Poison Spit</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Raw Meat</td><td>HP+10%Atk+10%</td><td class=fue>Assault Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Rare Steak</td><td>HP+15%Def+8%</td><td class=fue>Tail Flute</td><td>Bite</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Well-Done Steak</td><td>HP+20%Atk+20%</td><td class=fue>Deadly Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Gourmet Steak</td><td>HP+25%Atk+25%</td><td class=fue>Special Flute</td><td>Backstep</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Poison Spit→Pounce→Bite→Poison Spit</td></tr>
</table><table id="m068" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Bulldrome</th></tr>
<tr><td colspan=2>Pet probability</td><td>29/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Poogie Crackers</td><td>HP+10%</td><td class=fue>Shot Flute</td><td>Long Range Lunge</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Yambug</td><td>HP+10%Atk+5%</td><td class=fue>Assault Flute</td><td>Short Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Wheat & Barley</td><td>HP+5%Def+10%</td><td class=fue>Tail Flute</td><td>Long Range Lunge</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Snakebee Larva</td><td>HP+15%Atk+15%</td><td class=fue>Deadly Flute</td><td>Short Dash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Silver Cordgrass</td><td>HP+20%Atk+20%</td><td class=fue>Special Flute</td><td>Rotating Fang Attack</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Short Dash→Rotating Fang Attack→Long Range Lunge</td></tr>
</table><table id="m037" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Pink Rathian</th></tr>
<tr><td colspan=2>Pet probability</td><td>10/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Triple breath on the ground</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Continuous Fierce Dash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Somersault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Continuous Fierce Dash→Continuous Somersault</td></tr>
</table><table id="m038" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Blue Yian Kut-Ku</th></tr>
<tr><td colspan=2>Pet probability</td><td>13/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Worm</td><td>HP+5%Atk+5%</td><td class=fue>Shot Flute</td><td>Flame Shot</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Cricket</td><td>HP+5%Atk+10%</td><td class=fue>Assault Flute</td><td>continuous pawing</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Rice Weevil</td><td>HP+15%Atk+10%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Honey Dragonfly</td><td>HP+15%Atk+20%</td><td class=fue>Deadly Flute</td><td>Surprise Attack</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Rare Scarab</td><td>HP+25%Atk+25%Def+10%</td><td class=fue>Special Flute</td><td>Continuous Flame Atk</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Surprise Attack→Tail Swipe→continuous pawing</td></tr>
</table><table id="m039" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Purple Gypceros</th></tr>
<tr><td colspan=2>Pet probability</td><td>13/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Toadstool</td><td>Atk+5%</td><td class=fue>Shot Flute</td><td>Venom</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Spice Worm</td><td>HP+5%Atk+5%</td><td class=fue>Assault Flute</td><td>continuous pawing</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Angry Poison Mouth</td><td>HP+10%Atk+10%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Killer Beetle</td><td>HP+15%Atk+10%</td><td class=fue>Deadly Flute</td><td>Flash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Lightcrystal</td><td>HP+25%Atk+20%Def+8%</td><td class=fue>Special Flute</td><td>Play Dead</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Flash→continuous pawing→Flash→Venom</td></tr>
</table><table id="m049" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Azure Rathalos</th></tr>
<tr><td colspan=2>Pet probability</td><td>3/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Aerial Triple Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Airborne Leg Atk</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Back Jump Breath</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Fierce Dash→Back Jump Breath→Aerial Breath</td></tr>
</table><table id="m042" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Gold Rathian</th></tr>
<tr><td colspan=2>Pet probability</td><td> (Not Possible)</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Triple breath on the ground</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Continuous Fierce Dash</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Somersault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Continuous Fierce Dash→Continuous Somersault</td></tr>
</table><table id="m043" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Black Diablos</th></tr>
<tr><td colspan=2>Pet probability</td><td>5/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Cactus Flower</td><td>Def-3%</td><td class=fue>Shot Flute</td><td>Horn Thrust</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Sliced Cactus</td><td>Atk+5%Def-3%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Maengwoo Butter</td><td>HP+5%Atk+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Dosbiscus</td><td>HP+5%Atk+10%Def+5%</td><td class=fue>Deadly Flute</td><td>Binding Roar</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Ale Nuts</td><td>HP+10%Atk+10%</td><td class=fue>Special Flute</td><td>Underground Assault</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Horn Thrust→Tail Swipe→Fierce Dash</td></tr>
</table><table id="m045" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Red Khezu</th></tr>
<tr><td colspan=2>Pet probability</td><td>10/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Lightning Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Pounce</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Body Bolt Atk</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Neck Stretch</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Binding Roar→Lightning Breath→Body Bolt Atk</td></tr>
</table><table id="m047" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Black Gravios</th></tr>
<tr><td colspan=2>Pet probability</td><td>5/32</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Sunstone</td><td>Def-3%</td><td class=fue>Shot Flute</td><td>Heat Ray</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Earth Crystal</td><td>Atk+5%Def-3%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Firestone</td><td>HP+5%Atk+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Carbalite Ore</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Deadly Flute</td><td>Flame Gas</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Union Ore</td><td>HP+10%Atk+10%</td><td class=fue>Special Flute</td><td>Body Check</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Sweeping Heat Ray→Fierce Dash→Flame Gas</td></tr>
</table><table id="m041" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>Silver Rathalos</th></tr>
<tr><td colspan=2>Pet probability</td><td> (Not Possible)</td><td class=fue>Rage Flute</td><td>Goes into Rage</td></tr>
<tr><td class=no>Bait:No.1</td><td class=esa>Raw Meat</td><td>HP+5%Def-3%</td><td class=fue>Shot Flute</td><td>Aerial Triple Breath</td></tr>
<tr><td class=no>Bait:No.2</td><td class=esa>Wht Liver</td><td>Atk+5%</td><td class=fue>Assault Flute</td><td>Fierce Dash</td></tr>
<tr><td class=no>Bait:No.3</td><td class=esa>Remobra Shank</td><td>HP+5%Atk+5%Def+5%</td><td class=fue>Tail Flute</td><td>Tail Swipe</td></tr>
<tr><td class=no>Bait:No.4</td><td class=esa>Wyvern Tail Meat</td><td>HP+10%Atk+15%</td><td class=fue>Deadly Flute</td><td>Airborne Leg Atk</td></tr>
<tr><td class=no>Bait:No.5</td><td class=esa>Mosswine Head</td><td>HP+15%Atk+15%Def+5%</td><td class=fue>Special Flute</td><td>Back Jump Breath</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>Wrath Flute</td><td>Fierce Dash→Back Jump Breath→Aerial Breath</td></tr>
</table>
</body>
</html>