<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>餌/攻撃方法</title>
<style type="text/css">
<!--
th {white-space:nowrap;font-weight:normal;background-color:gray;}
td.no {background-color:silver;width:3em}
td.esa {width:8em}
td.fue {width:3em;background-color:silver}
table.top td {color:blue;cursor:pointer;}
-->
</style>
<script type="text/javascript">
<!--
document./*@cc_on @if (true) attachEvent ('on' + @else@*/ addEventListener (/*@end@*/
	'click',
	function (evt) {
		/*@if (true)
		var t = evt.srcElement;
		@else@*/
		var t = evt.target;
		/*@end@*/
		if (!t.id) return;
		if (t.id.charAt(4) != "c") return;

		var trs = document.getElementsByTagName("table");
		for(var i=2; i<trs.length; i++){
			trs[i].style.display = trs[i].id  == t.id.substring(0,4) ? "":"none";
		}
	},
	false
	);
-->
</script>
</head>
<body>
<table border=1 cellspacing=0 cellpadding=2 class=top><tr>
<td id="m027c">ドスランポス</td>
<td id="m028c">ドスゲネポス</td>
<td id="m031c">ドスイーオス</td>
<td id="m068c">ドスファンゴ</td>
<td id="m006c">イャンクック</td>
<td id="m038c">イャンクック【亜種】</td>
</tr><tr><td id="m020c">ゲリョス</td>
<td id="m039c">ゲリョス【亜種】</td>
<td id="m001c">リオレイア</td>
<td id="m037c">リオレイア【桜】</td>
<td id="m011c">リオレウス</td>
<td id="m049c">リオレウス【蒼】</td>
</tr><tr><td id="m015c">フルフル</td>
<td id="m045c">フルフル【亜種】</td>
<td id="m014c">ディアブロス</td>
<td id="m043c">ディアブロス【亜種】</td>
<td id="m017c">グラビモス</td>
<td id="m047c">グラビモス【亜種】</td>
</tr><tr><td id="m053c">ラージャン</td>
<td id="m048c">ダイミョウザザミ</td>
<td id="m067c">ショウグンギザミ</td>
<td id="m052c">ババコンガ</td>
<td id="m051c">ドドブランゴ</td>
<td id="m040c">イャンガルルガ</td>
</tr></table>
<table border=1 cellspacing=0 cellpadding=2 class=all>
<tr><td class=no>共通</td><td class=esa>街の残飯</td><td>体-10%防-10%</td></tr>
<tr><td class=no>共通</td><td class=esa>龍フード</td><td>体-10%防-3%</td></tr>
<tr><td class=no>共通</td><td class=esa>巨龍フード</td><td>1～10%サイズアップ(最大サイズ以上にはならない)</td></tr>
<tr><td class=no>共通</td><td class=esa>強龍フード</td><td>闘技LV1アップ</td></tr>
<tr><td class=no>共通</td><td class=esa>龍フード・極み</td><td>友好度1アップ</td></tr>
<tr><td class=no>共通</td><td class=esa>紅い龍フード</td><td>マヒ無効攻+10%</td></tr>
<tr><td class=no>共通</td><td class=esa>蒼い龍フード</td><td>眠り無効攻+10%</td></tr>
<tr><td class=no>共通</td><td class=esa>翠の龍フード</td><td>毒無効攻+10%</td></tr>
<tr><td class=no>共通</td><td class=esa>奇天烈フード</td><td>ランダムで効果が変わる<br>(1～10%サイズダウン/体+15%攻+25%/闘技LV1アップ)</td></tr>
</table>
<table id="m006" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>イャンクック</th></tr>
<tr><td colspan=2>ペット確率</td><td>26/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>釣りミミズ</td><td>体+5%攻+5%</td><td class=fue>弾撃笛</td><td>火炎液</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>釣りバッタ</td><td>体+5%攻+10%</td><td class=fue>突撃笛</td><td>連続ついばみ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>米虫</td><td>体+15%攻+10%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>蜜トンボ</td><td>体+15%攻+20%</td><td class=fue>必撃笛</td><td>滑空奇襲</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>マレコガネ</td><td>体+25%攻+25%防+10%</td><td class=fue>特撃笛</td><td>連続火炎液</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>滑空奇襲→回転尻尾→連続ついばみ</td></tr>
</table><table id="m020" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ゲリョス</th></tr>
<tr><td colspan=2>ペット確率</td><td>26/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>毒テングダケ</td><td>攻+5%</td><td class=fue>弾撃笛</td><td>毒液</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>スパイスワーム</td><td>体+5%攻+5%</td><td class=fue>突撃笛</td><td>連続ついばみ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ゲキレツ毒テング</td><td>体+10%攻+10%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>キラビートル</td><td>体+15%攻+10%</td><td class=fue>必撃笛</td><td>閃光</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>ライトクリスタル</td><td>体+25%攻+20%防+8%</td><td class=fue>特撃笛</td><td>死にまね起床</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>閃光→連続ついばみ→閃光→毒液</td></tr>
</table><table id="m011" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレウス</th></tr>
<tr><td colspan=2>ペット確率</td><td>5/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>空中3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>空中脚り</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>バックジャンプブレス</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>猛ダッシュ→バックジャンプブレス→空中ブレス</td></tr>
</table><table id="m001" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレイア</th></tr>
<tr><td colspan=2>ペット確率</td><td>19/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>地上3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>連続猛ダッシュ</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>サマーソルト</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>連続猛ダッシュ→連続サマーソルト</td></tr>
</table><table id="m015" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>フルフル</th></tr>
<tr><td colspan=2>ペット確率</td><td>16/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>雷ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>体内発電</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>首伸ばし</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→雷ブレス→体内発電</td></tr>
</table><table id="m017" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>グラビモス</th></tr>
<tr><td colspan=2>ペット確率</td><td>10/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>陽光石</td><td>防-3%</td><td class=fue>弾撃笛</td><td>熱線ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>大地の結晶</td><td>攻+5%防-3%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>紅蓮石</td><td>体+5%攻+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>カブレライト鉱石</td><td>体+5%攻+5%防+5%</td><td class=fue>必撃笛</td><td>火炎ガス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>ユニオン鉱石</td><td>体+10%攻+10%</td><td class=fue>特撃笛</td><td>体当たり</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>なぎ払い熱線→猛ダッシュ→火炎ガス</td></tr>
</table><table id="m052" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ババコンガ</th></tr>
<tr><td colspan=2>ペット確率</td><td>22/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>毒テングダケ</td><td>息毒+体+5%</td><td class=fue>弾撃笛</td><td>オナラ</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>マヒダケ</td><td>息マヒ+体+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ネムリ草</td><td>息眠り+体+5%</td><td class=fue>尾撃笛</td><td>ボディブレス</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>ドキドキノコ</td><td>体+10%攻+10%</td><td class=fue>必撃笛</td><td>各種ブレス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>オニマツタケ</td><td>息毒+体+15%攻+10%</td><td class=fue>特撃笛</td><td>連続ラリアット</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>パインドボイス→猛ダッシュ→連続ラリアット</td></tr>
</table><table id="m051" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ドドブランゴ</th></tr>
<tr><td colspan=2>ペット確率</td><td>13/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>氷結晶</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>冷棟ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ポポノタン</td><td>体+5%攻+5%</td><td class=fue>突撃笛</td><td>突進噛みつき</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>クーラーミート</td><td>体+10%攻+5%</td><td class=fue>尾撃笛</td><td>バックステップ</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>クーラーミートＧ</td><td>体+5%攻+10%防+5%</td><td class=fue>必撃笛</td><td>左右ビンタ</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>アンバル鉱石</td><td>体+10%攻+15%防+10%</td><td class=fue>特撃笛</td><td>雪玉</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→バックステップ→左右ビンタ→冷凍ブレス</td></tr>
</table><table id="m014" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ディアブロス</th></tr>
<tr><td colspan=2>ペット確率</td><td>10/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>サボテンの花</td><td>防-3%</td><td class=fue>弾撃笛</td><td>角突き上げ</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>スライスサボテン</td><td>攻+5%防-3%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>猛牛バター</td><td>体+5%攻+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>ドスビスカス</td><td>体+5%攻+10%防+5%</td><td class=fue>必撃笛</td><td>バインドボイス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>エールナッツ</td><td>体+10%攻+10%</td><td class=fue>特撃笛</td><td>地中急襲</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→角突き上げ→尻尾振り→猛ダッシュ</td></tr>
</table><table id="m048" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ダイミョウザザミ</th></tr>
<tr><td colspan=2>ペット確率</td><td>22/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>サシミウオ</td><td>体+5%</td><td class=fue>弾撃笛</td><td>泡ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>キレアジ</td><td>攻+10%</td><td class=fue>突撃笛</td><td>両爪攻撃</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ドスキレアジ</td><td>攻+15%</td><td class=fue>尾撃笛</td><td>ボデイプレス</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>こんがり魚ドス</td><td>攻+5%防+10%</td><td class=fue>必撃笛</td><td>地中急襲</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>カジキマグロ</td><td>攻+15%防+10%</td><td class=fue>特撃笛</td><td>持殊ガード</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>左右爪攻撃→地中急襲→ヤド突進</td></tr>
</table><table id="m067" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ショウグンギザミ</th></tr>
<tr><td colspan=2>ペット確率</td><td>13/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>サシミウオ</td><td>体+5%</td><td class=fue>弾撃笛</td><td>左右爪攻撃</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>キレアジ</td><td>攻+10%</td><td class=fue>突撃笛</td><td>振り下ろし爪攻撃</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ドスキレアジ</td><td>攻+15%</td><td class=fue>尾撃笛</td><td>回転爪攻撃</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>こんがり魚ドス</td><td>攻+5%防+10%</td><td class=fue>必撃笛</td><td>地中連続急襲</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>カジキマグロ</td><td>攻+15%防+10%</td><td class=fue>特撃笛</td><td>移動攻撃</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>振り下ろし爪攻撃→左右爪攻撃→左右爪攻撃→弛中連続急襲</td></tr>
</table><table id="m053" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ラージャン</th></tr>
<tr><td colspan=2>ペット確率</td><td>1/32 『ビーストマスター』の称号が必要</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>小金魚</td><td>防-3%</td><td class=fue>弾撃笛</td><td>デンプシー</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>白金魚</td><td>攻+5%防-3%</td><td class=fue>突撃笛</td><td>蛇行猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>銀のたまご</td><td>体+5%攻+5%</td><td class=fue>尾撃笛</td><td>回転攻撃</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>金のたまご</td><td>体+5%攻+5%防+5%</td><td class=fue>必撃笛</td><td>ビーム</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>キリンの蒼角</td><td>体+20%攻+10%</td><td class=fue>特撃笛</td><td>ジャンプ気合弾</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>ビーム→回転攻撃→蛇行猛ダッシュ→デンプシー</td></tr>
</table><table id="m040" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>イャンガルルガ</th></tr>
<tr><td colspan=2>ペット確率</td><td>16/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>地上3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>ブレス走り→噛みつき</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>バインドボイス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>サマーソルト</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→ブレス→噛みつき→地上ブレス→サマーソルト</td></tr>
</table><table id="m027" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ドスランポス</th></tr>
<tr><td colspan=2>ペット確率</td><td>29/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>コゲ肉</td><td>体+10%</td><td class=fue>弾撃笛</td><td>噛みつき</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>生肉</td><td>体+10%攻+10%</td><td class=fue>突撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>生焼け肉</td><td>体+15%防+8%</td><td class=fue>尾撃笛</td><td>噛みつき</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>こんがり肉</td><td>体+20%攻+20%</td><td class=fue>必撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>こんがり肉Ｇ</td><td>体+25%攻+25%</td><td class=fue>特撃笛</td><td>バックステップ</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>飛びかかり→噛みつき→飛びかかり→バックステップ</td></tr>
</table><table id="m028" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ドスゲネポス</th></tr>
<tr><td colspan=2>ペット確率</td><td>29/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>コゲ肉</td><td>体+10%</td><td class=fue>弾撃笛</td><td>噛みつき</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>生肉</td><td>体+10%攻+10%</td><td class=fue>突撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>生焼け肉</td><td>体+15%防+8%</td><td class=fue>尾撃笛</td><td>噛みつき</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>こんがり肉</td><td>体+20%攻+20%</td><td class=fue>必撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>こんがり肉Ｇ</td><td>体+25%攻+25%</td><td class=fue>特撃笛</td><td>バックステップ</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>飛びかかり→噛みつき→飛びかかり→バックステップ</td></tr>
</table><table id="m031" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ドスイーオス</th></tr>
<tr><td colspan=2>ペット確率</td><td>29/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>コゲ肉</td><td>体+10%</td><td class=fue>弾撃笛</td><td>毒吐き</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>生肉</td><td>体+10%攻+10%</td><td class=fue>突撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>生焼け肉</td><td>体+15%防+8%</td><td class=fue>尾撃笛</td><td>噛みつき</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>こんがり肉</td><td>体+20%攻+20%</td><td class=fue>必撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>こんがり肉Ｇ</td><td>体+25%攻+25%</td><td class=fue>特撃笛</td><td>バックステップ</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>毒吐き→飛びかかり→噛みつき→毒吐き</td></tr>
</table><table id="m068" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ドスファンゴ</th></tr>
<tr><td colspan=2>ペット確率</td><td>29/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>ブタせんべい</td><td>体+10%</td><td class=fue>弾撃笛</td><td>長距離突進</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ヤマイモムシ</td><td>体+10%攻+5%</td><td class=fue>突撃笛</td><td>短距離突進</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ウォーミル麦</td><td>体+5%防+10%</td><td class=fue>尾撃笛</td><td>長距離突進</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>ツチハチノコ</td><td>体+15%攻+15%</td><td class=fue>必撃笛</td><td>短距離突進</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>銀シャリ草</td><td>体+20%攻+20%</td><td class=fue>特撃笛</td><td>回転牙攻撃</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>短距離突進→回転牙攻撃→長距離突進</td></tr>
</table><table id="m037" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレイア【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>10/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>地上3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>連続猛ダッシュ</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>サマーソルト</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>連続猛ダッシュ→連続サマーソルト</td></tr>
</table><table id="m038" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>イャンクック【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>13/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>釣りミミズ</td><td>体+5%攻+5%</td><td class=fue>弾撃笛</td><td>火炎液</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>釣りバッタ</td><td>体+5%攻+10%</td><td class=fue>突撃笛</td><td>連続ついばみ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>米虫</td><td>体+15%攻+10%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>蜜トンボ</td><td>体+15%攻+20%</td><td class=fue>必撃笛</td><td>滑空奇襲</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>マレコガネ</td><td>体+25%攻+25%防+10%</td><td class=fue>特撃笛</td><td>連続火炎液</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>滑空奇襲→回転尻尾→連続ついばみ</td></tr>
</table><table id="m039" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ゲリョス【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>13/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>毒テングダケ</td><td>攻+5%</td><td class=fue>弾撃笛</td><td>毒液</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>スパイスワーム</td><td>体+5%攻+5%</td><td class=fue>突撃笛</td><td>連続ついばみ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ゲキレツ毒テング</td><td>体+10%攻+10%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>キラビートル</td><td>体+15%攻+10%</td><td class=fue>必撃笛</td><td>閃光</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>ライトクリスタル</td><td>体+25%攻+20%防+8%</td><td class=fue>特撃笛</td><td>死にまね起床</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>閃光→連続ついばみ→閃光→毒液</td></tr>
</table><table id="m049" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレウス【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>3/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>空中3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>空中脚り</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>バックジャンプブレス</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>猛ダッシュ→バックジャンプブレス→空中ブレス</td></tr>
</table><table id="m042" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレイア【希少種】</th></tr>
<tr><td colspan=2>ペット確率</td><td> (不可)</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>地上3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>連続猛ダッシュ</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>サマーソルト</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>連続猛ダッシュ→連続サマーソルト</td></tr>
</table><table id="m043" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>ディアブロス【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>5/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>サボテンの花</td><td>防-3%</td><td class=fue>弾撃笛</td><td>角突き上げ</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>スライスサボテン</td><td>攻+5%防-3%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>猛牛バター</td><td>体+5%攻+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>ドスビスカス</td><td>体+5%攻+10%防+5%</td><td class=fue>必撃笛</td><td>バインドボイス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>エールナッツ</td><td>体+10%攻+10%</td><td class=fue>特撃笛</td><td>地中急襲</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→角突き上げ→尻尾振り→猛ダッシュ</td></tr>
</table><table id="m045" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>フルフル【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>10/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>雷ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>飛びかかり</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>体内発電</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>首伸ばし</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>バインドボイス→雷ブレス→体内発電</td></tr>
</table><table id="m047" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>グラビモス【亜種】</th></tr>
<tr><td colspan=2>ペット確率</td><td>5/32</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>陽光石</td><td>防-3%</td><td class=fue>弾撃笛</td><td>熱線ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>大地の結晶</td><td>攻+5%防-3%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>紅蓮石</td><td>体+5%攻+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>カブレライト鉱石</td><td>体+5%攻+5%防+5%</td><td class=fue>必撃笛</td><td>火炎ガス</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>ユニオン鉱石</td><td>体+10%攻+10%</td><td class=fue>特撃笛</td><td>体当たり</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>なぎ払い熱線→猛ダッシュ→火炎ガス</td></tr>
</table><table id="m041" border=1 cellspacing=0 cellpadding=2 style="display:none"><tr><th colspan=5>リオレウス【希少種】</th></tr>
<tr><td colspan=2>ペット確率</td><td> (不可)</td><td class=fue>怒り笛</td><td>怒り状態にする</td></tr>
<tr><td class=no>餌:No.1</td><td class=esa>生肉</td><td>体+5%防-3%</td><td class=fue>弾撃笛</td><td>空中3連ブレス</td></tr>
<tr><td class=no>餌:No.2</td><td class=esa>ホワイトレバー</td><td>攻+5%</td><td class=fue>突撃笛</td><td>猛ダッシュ</td></tr>
<tr><td class=no>餌:No.3</td><td class=esa>ガブリブロース</td><td>体+5%攻+5%防+5%</td><td class=fue>尾撃笛</td><td>回転尻尾</td></tr>
<tr><td class=no>餌:No.4</td><td class=esa>リュウノテール</td><td>体+10%攻+15%</td><td class=fue>必撃笛</td><td>空中脚り</td></tr>
<tr><td class=no>餌:No.5</td><td class=esa>モスの頭</td><td>体+15%攻+15%防+5%</td><td class=fue>特撃笛</td><td>バックジャンプブレス</td></tr>
<tr><td class=no></td><td class=esa></td><td></td><td class=fue>逆鱗笛</td><td>猛ダッシュ→バックジャンプブレス→空中ブレス</td></tr>
</table>
</body>
</html>