/*共通*/
table {border-collapse:collapse;border:1px ridge #333333;}
th {text-align:center;white-space:nowrap;font-weight:normal;background-color:silver;}
th,td {vertical-align:top;white-space:nowrap;padding:2px;border:2px ridge #ffffff;}

body {margin:5px 0 0 5px;}
#monsname {width:14em;float:left;}
#tophosoku a {font-size:80%;text-decoration:none;}

ul {margin:0;padding:0;list-style-type:none;width:16em;}
li {margin:0;padding:1px;text-align:right;border:1px solid silver}
li.t {float:left;width:13em;text-align:left;}

/* Firefox用ハック */
html:not([lang*=""]) table,
html:not([lang*=""]) td,
html:not([lang*=""]) th
{
	border-collapse: separate;
	border-spacing: 0;
	margin:0;padding:0;
}
